<div id="{{{ this.id }}}" class="module-text-columns {{{ this.class }}}">
	{{#each this.columns }}
		<div id="{{{ this.id }}}" class="col {{{ this.class }}}">
			<div class="col-inner">
				{{{ this.text }}}
			</div>
		</div>
	{{/each}}
</div>