#home {
	.main {
		margin: 0 auto;
		max-width: 80%;
	}

	.module-hero {
		margin-bottom: 100px;
	}

	#home-text-cols {
		#col-1 {
			border: 1px #000 solid;
			font-size: 18px;
			padding: 15px;
		}

		#col-2 {
			border-top: 5px #aaa solid;
			color: #aaa;
			padding-top: 50px;
		}
	}
}